*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  width:1200px;
  margin:0 auto;
  text-align: center;
  position:relative;
}

#player1{
  position:absolute;
    font-size:20px;
    font-weight:bold;
  left:10px;
}
#player2{
  position:absolute;
    font-weight:bold;
    font-size:20px;
  right:10px;
}
#player1 p, #player2 p{
    margin-bottom:10px;
}

.game-4{
  position:absolute;
  top:14rem;
  left:50%;
  transform: translateX(-50%);
  width:650px;
  height:600px;
  background: rgb(87, 168, 255);
  border:1px solid black;
  box-shadow:5px 5px rgba(0,0,0,0.4);
  padding:1.5rem;
}

.slot{
  width:90px;
  height:90px;
  background-color:white;
  border: 1px solid black;
  border-radius:50%;
}

.reset{
    position: absolute;
    top:85px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 4px 3px #888888;
    transition: .3s;

    p{
      font-size: 20px;

    }
}

.reset:hover{
    transition: 0.8s;
    box-shadow: 0px 0px #888888;
}
