// Specific CSS for your home-page
*{
  box-sizing: border-box;
  font-family:'Lato', sans-serif;
}
.outer{
  width:100%;
  height:105vh;
  border:1px solid pink;
}

.inner{
  position:absolute;
  width:80vw;
  height:900px;
  top:100px;
  right:0;
  background-color:#FFE4DC;
  transition: ease all .5s;
}

.name{
  position:absolute;
  right:620px;
  top:70px;
  width:700px;
  transition: ease all .5s;

  h1{
    transition: ease all .5s;
  }
}

.social{
  p a{
    color:black;
    font-size:20px;
    text-decoration:none;
    padding-left:30px;
    font-weight: lighter;
  }
}
.container_pic{
  position:absolute;
  top:230px;
  right:860px;
  transition: ease all .5s;
}

.container_pic img{
  width:330px;
  height:400px;
}

.about{
  position:absolute;
  width:600px;
  height:100px;
  top:300px;
  right:100px;
  font-size: 30px;
  font-weight: lighter;
  transition: ease all .5s;
}

.arrow{
  background-color: #E8E8E8;
  border:1px solid lightgrey;
  width:50px;
  height:50px;
  border-radius:50px;
  position:absolute;
  top:90vh;
  left:50%;
  font-size: 20px;
  transition: ease all .4s;
}

.arrow:hover{
  font-size:30px;
  width:60px;
  height:60px;
}

// Content //
#app{
  font-size:35px;
}
h3{
  display:block;
  margin-left:50%;
}
.content{
  margin-top:27vh;
}
.wrapper{
  width:1200px;
  transition: ease all .5s;
  margin:auto;
  h5{
    font-size:25px;
  }
}

.app{
  width:300px;
  height:330px;

  img{
    width:290px;
    height:180px;
    display:block;
    margin:auto;
  }
  p{
    font-size:18px;
    font-weight:lighter;
  }
  span{
    font-weight:bold;
    background-color:#FFE4DC;
  }
}


// Media Queries

@media screen and (max-width: 1024px) {
  .inner{
    width:230vw;
    height:1150px;
  }

  .name{
    right:90px;
    width:600px;
  }

  .container_pic{
    right:50%;
  }

  .about{
    width:500px;
    height:150px;
    top:690px;
    right:27%;
  }

  .arrow{
    top:150vh;
    left:50%;
  }

  // content
  .content{
    position:absolute;
    top:170vh;
    left:25%;
  }

  .wrapper{
    width:350px;
    flex-direction: column;
    margin-left:20%;
  }

  .app{
    margin-left:25px;
    margin-top:25px;
  }
}

@media screen and (max-width: 960px){
  .inner{
    width:100vw;
    height:950px;
  }

  .name{
    right:50px;
    width:700px;

    h1{font-size:45px;  }
  }
   .container_pic{
    top:200px;
    right:30%;
  }
  .about{
    width:500px;
    height:150px;
    top:720px;
    right:15%;
    font-size:25px;
  }
  .arrow{
   display:none;
  }

  // content
  .content{
    position:absolute;
    top:120vh;
    left:20%;

    h3{
      margin-left:35%;
    }

    .app{
      margin-top:20px;
      margin-left:-5%;
      p{
        font-size:13px;
      }
    }
  }

}

@media screen and (max-width: 768px){
  .outer{
    margin:0 auto;
    width:100%;
    height:70vh;
    border:none !important;
  }
  .social{

  width:280px;
  padding-top:30px;
  margin-left:18%;
    p a{
      color:black;
      font-size:13px;
      text-decoration:none;
    }
  }

  .inner{
    width:130%;
    top:10%;
    left:0px;
    height:100vh;
  }

  .name{
    right:50px;
    width:500px;

    h1{font-size:45px;  }
  }

  .container_pic{
    right:20%;
  }

  .about{
    width:450px;
    height:150px;
    top:720px;
    right:6%;
    font-size:22px;
  }

  .arrow{
   display:none;
  }

  // content
  .content{
    position:absolute;
    top:120vh;
    left:20%;
  }
}

@media screen and (max-width: 613px){
  .outer{
    margin:0 auto;
    width:100%;
    height:70vh;
    border:none !important;
  }

  .social{
    width:280px;
    padding-top:30px;
    margin-left:18%;
    p a{
      color:black;
      font-size:13px;
      text-decoration:none;
      }
  }

  .inner{
    width:100%;
    top:10%;
    left:0px;
    height:95vh;
  }

  .name{
    top:4%;
    left:30%;
    width:250px;

    h1{font-size:30px}
  }

  .container_pic{
    top:100px;
    left:30%;
  }

  .container_pic img{
    width:230px;
    height:270px;
  }
  .about{
    width:250px;
    height:130px;
    top:400px;
    right:27%;
    font-size:15px;
  }

  // content
  .content{
    width:100%;
    position:absolute;
    top:78vh;
    left:0;

    h3{
      margin-left:45%;
    }

    .app{
      margin-left:10%;
      p{
        font-size:13px;
      }
    }
    .title{
      margin-top:30px;
      margin-left:10%;
      margin-bottom:20px;
    }
  }
  .games{
    width:100%;
    position:absolute;
    top:190vh;
    margin-left:0;

    h5{
      margin-top:30%;
      margin-left:25%;
    }
    .app{
      margin-left:25%;
    }
  }
}


@media screen and (max-width: 500px){
  .outer{
    right:0;
    width:100%;
    height:80vh;
    border:none !important;
  }

  .social{
    width:280px;
    padding-top:30px;
    margin-left:18%;
    p a{
      color:black;
      font-size:13px;
      text-decoration:none;
      }
  }

  .inner{
    width:100%;
    top:10%;
    right:0px;
    height:76vh;
  }

  .name{
    top:4%;
    right:30%;
    width:250px;

    h1{font-size:30px}
  }

  .container_pic{
    top:100px;
    left:23%;
  }

  .container_pic img{
    width:230px;
    height:270px;
  }
  .about{
    width:250px;
    height:130px;
    top:400px;
    right:27%;
    font-size:15px;
  }

  // content
  .content{
    width:100%;
    position:absolute;
    top:87vh;
    left:0;

    h3{
      margin-left:35%;
    }

    .app{
      margin-left:-5%;
      p{
        font-size:13px;
      }
    }
    .title{
      margin-top:30px;
      margin-left:0;
      margin-bottom:20px;
    }
  }
  .games{
    width:100%;
    position:absolute;
    top:150vh;
    margin-left:0;

    h5{
      margin-left:20%;
    }
    .app{
      margin-left:20%;
    }
  }
}

@media screen and (max-width: 420px){
  .outer{
    width:100vw;
  }


  .inner{
    width:100vw;
    top:10%;
    height:80vh;
    left:0%;
  }
  .name{
    top:4%;
    left:0;
    width:100vw;

    h1{font-size:30px}
  }

   .about{
    width:50vw;
  }

  .content{
    top:90vh;

    h3{
      margin-left:40%;
    }

    .app{
      left:0;
      p{
        font-size:13px;
      }
    }
    .title{
      margin-top:20px;
      margin-left:0;
      margin-bottom:20px;
    }
  }
  .games{
    width:100%;
    position:absolute;
    top:150vh;

    h5{
      margin-left:20%;
    }
    .app{
      margin-left:10%;
      margin-top:20px;
    }
  }
}


@media screen and (max-width: 375px){
  .outer{
    position:absolute;
    width:100%;
    height:90vh;
    border:none !important;
  }

  .social{
    width:80%;
    padding-top:30px;
    margin-left:100px;

    p a{
      color:black;
      font-size:10px;
      text-decoration:none;
      margin-left:-20%;
      }
  }

  .inner{
    width:130%;
    top:10%;
    height:95vh;
    left:0%;
  }

  .name{
    top:4%;
    left:9%;
    width:100vw;

    h1{font-size:30px}
  }

  .container_pic{
    top:80px;
    left:26%;
  }

  .container_pic img{
    width:230px;
    height:270px;
  }
  .about{
    width:250px;
    height:130px;
    top:400px;
    left:25%;
    font-size:15px;
  }

  // content
  .content{
    width:130vw;
    position:absolute;
    top:77vh;
    left:10%;

    h3{
      margin-left:33%;
    }

    .app{
      margin-left:-14%;
      p{
        font-size:13px;
      }
    }
    .title{
      margin-top:20px;
      margin-left:0;
      margin-bottom:20px;
    }
  }
  .games{
    width:100%;
    position:absolute;
    top:200vh;

    h5{
      margin-left:20%;
    }
    .app{

     margin-left:10%;
     margin-top:20px;
    }
  }
}

