<body>
  <div class="score"></div>
    <div class="game" style="height:90vh">
        <div class="startScreen">Press here to Start
            <br>Arrow keys to move
            <br>If you hit a another car you will lose.</div>
        <div class="gameArea"></div>
    </div>
</body>


