<div class="container-mole col-12"  >
  <header class="mt-5">
    <h1>Whack-a-mole! <span class="score-mole">0</span></h1>
    <h2 class="timeUp hidden">TIME'S UP!<span class="playAgain">Click "start" to play again<span></h2>
    <button class="start">Start!</button>
  </header>

  <div class="mole-game">
    <div class="hole hole1">
      <div class="mole"></div>
    </div>
    <div class="hole hole2">
      <div class="mole"></div>
    </div>
    <div class="hole hole3">
      <div class="mole"></div>
    </div>
    <div class="hole hole4">
      <div class="mole"></div>
    </div>
    <div class="hole hole5">
      <div class="mole"></div>
    </div>
    <div class="hole hole6">
      <div class="mole"></div>
    </div>
  </div>
</div>
